<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=http://localhost:8001">
    <title>Oops!</title>
    <style>
        body, div{
            /* height: 97vh;
            width: 97vw; */
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        div{
            border: 1px solid white;
            padding: 20px;
            border-radius: 10px;
            width: 90vw;
        }
    </style>
</head>
<body>
    <h1>Oops! Something went wrong. Let's try that again.</h1>
    <div><%= errorMessage %> Redirecting in 3....</div>
</body>
</html>